#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messages {
  height: 50vh;
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #7B17A6;
  color: white;
}

.centralizar {
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.bg-cor-padrao{
  background-image: linear-gradient(to right, #3b0e59, #5a177e, #7b1ea4, #a025cb, #c729f2);;
}

.botao-login-cor{
  background-color: #C729F2;
  color: white;
}

.card-card{
  margin-top: auto;
  margin-bottom: auto;  
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid {
  color: red;
  border-color: red;
}